body {
  background-color: #000;
  color: #fff;
}

.container {
  width: 1000px;
  margin: auto;
  height: 100%;
}

.profile {
  width: 100%;
  margin-top: 90px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

h2 {
  font-size: 18px;
}

.intro {
  font-size: 16px;
}

.btn-intro {
  align-content: space-between;
  width: 340px;
  height: 39px;
  border-radius: 10px;
  border: none;
  background-color: #414141;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  margin-top: 40px;
  margin-left: 20px;
}

.card-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.card {
  width: 277px;
  height: 165px;
  background-color: #1E1E1E;
  border-radius: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.business {
  padding-left: 10px;
}

.insta {
  padding-left: 10px;
}

.card-intro {
  width: 391px;
  height: 466px;
  background-color: #1E1E1E;
  border-radius: 28px;
  margin-top: -300px;
}

.detail {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 10px 26px 0 26px;
}

.details {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  padding: 10px 26px;
}

.download {
  width: 1000px;
  height: 41px;
  border-radius: 12px;
  border: none;
  background-color: #414141;
  color: #fff;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.email {
  width: 492px;
  height: 108px;
  background-color: #1E1E1E;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.email-title {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
}

.email-btn {
  margin-left: 10px;
  border-radius: 8px;
  border: none;
  width: 77px;
  height: 26px;
  background-color: #fff;
  color: #000;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 200px;
  margin-bottom: 50px;
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-card {
  width: 103px;
  height: 104px;
  background-color: #1E1E1E;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

i {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

i {
  color: #ffffff;
}

.business-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "icon info";
  align-items: center;
}

.card-icon {
  margin-left: 8px;
}

.business-info i {
  grid-area: icon;
  margin-right: 10px;
}

.insta-info i {
  grid-area: icon;
  margin-right: 5px;
}

.work, .work-detail {
  grid-area: info;
}

.work {
  font-size: 22px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 15px;
}

.work-insta {
  font-size: 22px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -40px;
  padding-left: 55px;
  display: flex;
}

.work-detail {
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 2px;
  display: block;
  color: #999999;
}

.work-detail-insta {
  font-size: 16px;
  padding-left: 55px;
  display: block;
  color: #999999;
}

.business-detail {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}/*# sourceMappingURL=style.css.map */